.pentagon {
  width: 100vw;
  height: 80vh;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(0 0, 100% 0, 100% 30%, 50% 35%, 0% 30%, 0 0);
  background-color: var(--accent-color);
  opacity: 75%;
  z-index: -1;
}

.circle2 {
  width: 150px;
  height: 150px;
  position: absolute;
  top: -15px;
  left: -75px;
  clip-path: circle(50% at 50% 50%);
  background-color: var(--accent-color);
  opacity: 50%;
  z-index: 0;
}

.circle1 {
  width: 150px;
  height: 150px;
  position: absolute;
  top: -75px;
  left: -10px;
  clip-path: circle(50% at 50% 50%);
  background-color: var(--accent-color);
  opacity: 55%;
  z-index: 0;
}
